<% layout('layouts/boilerplate')%>
 
    <!-- <form action="/login" method="post" class="validated-form" novalidate >
       
        <div class="mb-3">
            <label class="form-label" for="username">username</label>
            <input class="form-control" type="text" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="pass">Password</label>
            <input class="form-control" type="password" id="pass" name="password" required>
        </div>

        <button class="btn btn-success">login</button>
    </form> -->

    <div class="body_div d-flex justify-content-center">
               
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src= "https://images.unsplash.com/photo-1455390582262-044cdead277a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1073&q=80" alt="Card image cap">
             <div class="card-body">
                <form action="/login" method="post" class="validated-form" novalidate >
                    <div class="mb-3">
                        <label class="form-label" for="username">Username</label>
                        <input class="form-control" type="text" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="pass">Password</label>
                        <input class="form-control" type="password" id="pass" name="password" required>
                    </div>
                    
                    <div class="mb-3 d-flex justify-content-center">         
                        <button  class="btn btn-success">submit</button>
                     </div>
                </form>
               
             </div>
         </div>
     
        </div>